<div class="container">
  <h1>Cadastro de Produto</h1>

  <form [formGroup]="formGroupProduct">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input formControlName="name" type="text " class="form-control" id="name" placeholder="Digite seu nome">
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Preço</label>
      <input formControlName="price" type="text " class="form-control" id="price" placeholder="Digite o preço">
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Categoria</label>
      <input formControlName="category" type="text " class="form-control" id="category" placeholder="Digite a categoria">
    </div>

    <button type="button" class="btn btn-primary" (click)="update()">Salvar</button>
  </form>
</div>
