<div class="container">
  <h1>Cadastro de Produto</h1>

  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text " class="form-control" id="name" placeholder="Digite seu nome">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Preço</label>
      <input type="text " class="form-control" id="price" placeholder="Digite o preço">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Categoria</label>
      <input type="text " class="form-control" id="category" placeholder="Digite a categoria">
    </div>

    <button type="button" class="btn btn-primary">Salvar</button>
  </form>
</div>
