<div class="container">
    <div class="display-5">
      Cadastro de Produtos
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome do Produto</th>
          <th scope="col">Preço</th>
          <th scope="col">Categoria</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let product of products">
          <th scope="row">{{product.id}}</th>
          <td> <a [routerLink]="['/product', product.id]"> {{product.name}} </a></td>
          <td>R$ {{product.price}}</td>
          <td>{{product.category}}</td>
          <td><button class="btn btn-danger" (click)="delete(product)">Remover</button></td>
        </tr>

      </tbody>
    </table>
  </div>
